{% extends "pyss/home.html" %}
{% block title %}Сериалы{% endblock %}
{% block title_title %}Сериалы{% endblock %}
{% block subtitle %}Источник: <a href="http://seasonvar.ru/">Seasonvar</a>{% endblock %}
{% block content %}
<div calss="container">
  {% for serial in serials_list %}
    <article class="message is-success">
      <div class="message-body">
        <div class="columns">
          <div class="column is-1">
            <a class="button is-danger is-outlined" href="{% url 'serials:hidden_serial' pk=serial.id %}">
              <span class="icon is-small">
                  <i class="fas fa-times"></i>
              </span>
            </a>
          </div>
          <div class="column is-2">
            <img src="http://cdn.bigsv.ru/oblojka/{{ serial.img }}.jpg">
          </div>
          <div class="column">
            <p>{{ serial.serial_and_season }}, {{ serial.episode }} серия</p>
            <p>{{ serial.data }}</p>
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
</div>
{% endblock %}
