{% extends "pyss/home.html" %}
{% block title %}Сериалы{% endblock %}
{% block title_title %}Сериалы{% endblock %}
{% block subtitle %}Источник: <a href="http://seasonvar.ru/">Seasonvar</a>{% endblock %}
{% block content %}
{% for serial in serials_list %}
<article class="message is-dark">
  <div class="message-header">
    <p>
      {{ serial.data }} — {{ serial.serial_and_season }}, {{ serial.episode }} серия
    </p>
    <div>
      <a class="button is-warning is-outlined" href="{% url 'serials:hidden_serial' pk=serial.id %}">
        <span class="icon is-small">
          <i class="fas fa-eye-slash"></i>
        </span>
      </a>
      <a class="button is-danger is-outlined" href="{% url 'serials:del_serial' pk=serial.id %}">
        <span class="icon is-small">
          <i class="fas fa-trash"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="message-body">
    <!-- TODO: add description -->
    <img src="http://cdn.bigsv.ru/oblojka/{{ serial.img }}.jpg">
  </div>
</article>
{% endfor %}
{% endblock %}
