{% extends "pyss/home.html" %}
{% block title %}HeadHunter{% endblock %}
{% block title_title %}Вакансии на работу{% endblock %}
{% block subtitle %}Источник: <a href="https://hh.ru/">HeadHunter.ru</a>{% endblock %}
{% block content %}
<div class="tile is-ancestor columns is-multiline">
  {% for k in hh_list %}
  <div class="tile is-parent is-4">
    <article class="tile is-child message is-dark">
      <div class="message-header">
        <div title="{{ k.name }}">
          <p class="is-size-5 title-ellipsis">
            {{ k.name }}
          </p>
          <div class="is-size-6 has-text-weight-light">
            {% if not k.salary.from == 0 %}
            от {{ k.salary.from }}
            {% endif %}
            {% if not k.salary.to == 0 %}
            до {{ k.salary.to }}
            {% endif %}
            {{ k.salary.currency }}
          </div>
        </div>
        <div>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button is-dark has-text-white" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </span>
              </button>
            </div>
            <div class="hh dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <span class="icon is-small">
                    <i class="fa-solid fa-calendar"></i>
                  </span>
                  <script>document.write(dateFormat("{{ k.published }}"))</script>
                </div>
                <hr class="dropdown-divider">
                <a class="dropdown-item has-text-link"
                  href="https://hh.ru/vacancy/{{ k.url_id }}" target="_blank">
                  <span class="icon is-small">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </span>
                  Перейти на страницу
                </a>
                <a class="dropdown-item has-text-warning" href="{% url 'hh:hidden_hh' pk=k.id %}">
                  <span class="icon is-small">
                    <i class="fas fa-eye-slash"></i>
                  </span>
                  Скрыть
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="message-body">
        {{ k.requirement }}
      </div>
    </article>
  </div>
  {% endfor %}
</div>
{% endblock %}
