{% extends "pyss/home.html" %}
{% block title %}АНИМЕ{% endblock %}
{% block title_title %}Аниме{% endblock %}
{% block subtitle %}Источник: <a href="https://naruto-base.su">Naruto-base</a>{% endblock %}
{% block content %}
{% for k in list_anime %}
<article class="message is-dark">
  <div class="message-header">
    <p>
      {{ k.title_anime }} {{ k.date_added }}
    </p>
    <div>
      <a class="button is-danger is-outlined" href="{% url 'anime:hidden_anime' pk=k.id %}">
        <span class="icon is-small">
          <i class="fas fa-trash"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="message-body">
    <iframe width="100%" height="100%" src={{ k.link_anime }}></iframe>
  </div>
</article>
{% endfor %}
{% endblock %}
