{% extends "pyss/home.html" %}
{% block title %}АНИМЕ{% endblock %}
{% block title_title %}Аниме{% endblock %}
{% block subtitle %}Источник: <a href="https://naruto-base.su">Naruto-base.su</a>{% endblock %}
{% block content %}
<div class="tile is-ancestor columns is-multiline">
  {% for k in list_anime %}
  <div class="tile is-parent is-6">
    <article class="tile is-child message is-dark">
      <div class="message-header">
        <div>
          <p>{{ k.title_anime }}</p>
          <p class="is-size-6 has-text-weight-light">{{ k.date_added }}</p>
        </div>
        <div>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button is-dark has-text-white" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </span>
              </button>
            </div>
            <div class="hh dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item has-text-danger"
                  href="{% url 'anime:hidden_anime' pk=k.id %}">
                  <span class="icon is-small">
                    <i class="fas fa-eye-slash"></i>
                  </span>
                  Скрыть
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="message-body p-0">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="100%" height="100%" src="https://video.sibnet.ru/shell.php?videoid="{{ k.id_anime }} frameborder="0"
            allowfullscreen></iframe>
        </figure>
      </div>
    </article>
  </div>
  {% endfor %}
</div>
{% endblock %}
