{% extends "pyss/home.html" %}
{% block title %}Лента{% endblock %}
{% block content %}
<section class="hero is-danger">
  <div class="hero-body">
    <p class="title">
        Всё в одном
    </p>
    <p class="subtitle">
    </p>
       Источник:
  </div>
</section>
  </div>
</section>
<div class="px-2">
    <div id="weather">
        <h1 class="title has-text-centered">Погода в Петропавловске</h1>
        <section class="section">
                <div class="columns">
                    {% for x in info.weather_daily %}
                        <div class="column is-2">
                            <h1 class="is-size-6 subtitle">{{ x.item1 }}</h1>
                            <b>t: </b>{{ x.item6 }}<sup>o</sup><br>
                            <b>Восход:</b> {{ x.item2 }}<br>
                            <b>Закат:</b> {{ x.item3 }}<br>
                            <b>min t: {{ x.item4 }}<sup>o</sup><br></b>
                            <b>max t: {{ x.item5 }}<sup>o</sup><br></b>
                            <img src="http://openweathermap.org/img/w/{{ x.item7 }}.png" alt="Фото погоды">
                        </div>
                    {% endfor %}
		</section>
    </div>
    <div id="weather_diagram">
        <h1 class="title has-text-centered">Диаграммы</h1>
            <section class="section">
                <div class="columns">
                    {% for x, y in info.diagram_dict.items %}
                        <div class="column is-3">
                            <h1 class="is-size-6 subtitle">{{ x }}</h1>
                            {{ y | safe }}
                        </div>
                    {% endfor %}
                </div>
            </section>
    </div>

<div id="currency">
    <h1 class="title has-text-centered">Валюта</h1>
        <section class="section">
            <div class="columns">
                {% for k, v in info.currencies.items %}
                    <div class="column is-2">
                        <h1 class="is-size-6 subtitle">{{ k }}</h1>
                        <b>{{ v }}<br></b>
                    </div>
                {% endfor %}
            </div>
        </section>
</div>
<div id="youtube">
        <h1 class="title has-text-centered">Youtube</h1>
            <section class="section">
                <div class="columns">
                    {% for video in info.res_youtube %}
                        {{ video|safe }}
                    {% endfor %}
                </div>
            </section>
</div>
<div id="manga">
        <h1 class="title has-text-centered">Манга...</h1>
            <section class="section">
                <div class="columns">
                    <a href="{{ info.onepunch_lick }}">Последняя глава Панчмена</a>
                </div>
            </section>
</div>
<div id="twitch">
        <h1 class="title has-text-centered">Twitch...</h1>
            <section class="section">
                <div class="columns">
                    {% for stream in info.twitch %}
                        <!-- Add a placeholder for the Twitch embed -->
                        <div id="twitch-embed"></div>

                        <!-- Load the Twitch embed JavaScript file -->
                        <script src="https://embed.twitch.tv/embed/v1.js"></script>

                        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->

                        <script type="text/javascript">
                            new Twitch.Embed("twitch-embed", {
                                theme: 'dark',
                                autoplay: false,
                                muted: true,
                                width: 854,
                                height: 480,
                                channel: '{{ stream }}'
                            });
                        </script>
                    {% endfor %}
                </div>
            </section>
</div>
<div id="anime">
    <h1 class="title has-text-centered">Аниме</h1>
        <section class="section">
            <div class="columns">
                {% for k, v in info.puk.items %}
                        <iframe
                            width="420" height="345" src={{ v }}v>
                        </iframe>
                {% endfor %}
            </div>
        </section>
</div>
<div id="torrent">
    <h1 class="title has-text-centered">Торренты</h1>
        <section class="section">
            <div class="columns">
                {% for k, v in info.url_torrents_dict.items %}
                    <p class="exampleTitle">
                        <a href="{{ v }}">{{ k }}</a>
                    </p>
                {% endfor %}
            </div>
        </section>
</div>
<div id="news">
    <h1 class="title has-text-centered">Новости</h1>
        <section class="section padding-medium">
                {% for k, v in info.news.items %}
                    <br class="exampleTitle">
                        <a href="{{ v }}">{{ k }}</a></br></a>
                    </p>
                {% endfor %}
        </section>
</div>
<div id="posts">
    <h1 class="title has-text-centered">Последние новости с хабра</h1>
        <section class="section padding-medium">
                {% for k in info.posts_vk_group %}
                    <p>{{ k.item1 }}</p>
                    <p>{{ k.item2 }}</p>
                    <img src={{ k.item3 }}/>
                {% endfor %}
        </section>
</div>

<div id="hh">
    <h1 class="title has-text-centered">Вакансии</h1>
        <table class="table">
  <thead>
    <tr>
      <th><abbr title="Name">ДОЛЖНОСТЬ</abbr></th>
      <th><abbr title="URL">ССЫЛКА</abbr></th>
      <th><abbr title="Schedule">РЕЖИМ</abbr></th>
      <th><abbr title="Published">ВРЕМЯ ПУБЛИКАЦИИ</abbr></th>
      <th><abbr title="Salary">ОТ</abbr></th>
      <th><abbr title="Salary env">ОКЛАД</abbr></th>
      <th><abbr title="Currency">ВАЛЮТА</abbr></th>
      <th><abbr title="Job total">ВСЕГО ВАКАНСИЙ</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Name">ДОЛЖНОСТЬ</abbr></th>
      <th><abbr title="URL">ССЫЛКА</abbr></th>
      <th><abbr title="Schedule">РЕЖИМ</abbr></th>
      <th><abbr title="Published">ВРЕМЯ ПУБЛИКАЦИИ</abbr></th>
      <th><abbr title="Salary">ОТ</abbr></th>
      <th><abbr title="Salary env">ОКЛАД</abbr></th>
      <th><abbr title="Currency">ВАЛЮТА</abbr></th>
      <th><abbr title="Job total">ВСЕГО ВАКАНСИЙ</abbr></th>
    </tr>
  </tfoot>
  <tbody>
        {% for k in info.headh %}
    <tr>
      <th>{{ k.name }}</th>
      <td><a href={{ k.url }}>ССЫЛКА</a></td>
      <td>{{ k.schedule }}</td>
      <td>{{ k.published }}</td>
      <td>{{ k.salary }}</td>
      <td>{{ k.salary_env }}</td>
      <td>{{ k.currency }}</td>
      <td>{{ k.job_total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="anime">
    <h1 class="title has-text-centered">Сериалы</h1>
        <section class="section">
            <div class="columns">
                {% for k, v in info.serials.items %}
                <div class="column">
                    <p>{{ k }}</p>
                    <p>{{ v }}</p>
                </div>
                {% endfor %}
            </div>
</div>

{% endblock %}
