{% extends "pyss/home.html" %}
{% block title %}ПОСТЫ ВК{% endblock %}
{% block title_title %}Лента ВКонтакте{% endblock %}
{% block subtitle %}Источник: <a href="https://vk.com/basherbalance">VK.COM</a>{% endblock %}
{% block content %}
<a href="{% url 'vk:delete_post' %}" class="button is-danger mb-5">
  Очистить БД постов ВК
</a>
{% for k in list_post_vk %}
<article class="message is-dark">
  <div class="message-header">
    <p>{{ k.data_post }}</p>
    <div>
      <a class="button is-success is-outlined" target="_blank" href="{{ k.link_post }}">
        <span class="icon is-small">
          <i class="fa-solid fa-up-right-from-square"></i>
        </span>
      </a>
      <a class="button is-danger is-outlined" href="{% url 'vk:hidden_post' pk=k.id %}">
        <span class="icon is-small">
          <i class="fas fa-trash"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="message-body">
    <p>{{ k.text_post }}</p>
    <img src={{ k.link_image_post }} />
  </div>
</article>
{% endfor %}
{% endblock %}
