.serial-cover {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.title-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
