body {
  background: #000 url("/static/weather.jpeg");
  background-attachment: fixed;
  color: red;
  background-repeat: repeat;
  background-size: cover;
  font-family: "Gentium Basic", serif;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 3.25rem);
}

a {
  padding: 2px;
  border-radius: 2px;
  color: green;
  font-family: "Gentium Basic", serif;
}

a:hover {
  background: #f14668;
  color: #eee;
}

body > .section {
  padding: 2rem !important;
  flex: 1 1 auto;
}

footer {
  padding: 1rem;
}
