.weather-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-background {
  background: url("/static/weather-forecast.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
}

.control.is-loading::after {
  right: 12px;
  top: 12px;
}
