{% extends "pyss/home.html" %}
{% block title %}ПОГОДА{% endblock %}
{% block subtitle %}Источник: <a href="https://openweathermap.org/api">OpenWeatherMap.org</a>{% endblock %}
{% block hero_body %}
<fieldset>
  <div class="field has-addons mb-4">
    <div class="control">
      <input class="input" type="text" placeholder="Город">
    </div>
    <div class="control">
      <button class="button is-info">
        Поиск
      </button>
    </div>
  </div>
</fieldset>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="columns is-multiline">
  <div class="column is-full"></div>
  <script src="static/js/weather.js"></script>
  <script>loadCSS('static/css/weather.css');</script>
</div>
{% endblock %}
