{% extends "layout.html" %}
{% block title %}ПОГОДА{% endblock %}

{% block subtitle %}
Источник: <a href="https://openweathermap.org/api">OpenWeatherMap.org</a>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="static/css/weather.css">
{% endblock %}

{% block hero_body %}
<fieldset>
  <div class="field has-addons mb-4">
    <div class="control control-input">
      <input class="input" type="text" placeholder="Город">
    </div>
    <div class="control">
      <button class="button is-info" title="Поиск">
        <span class="icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </button>
    </div>
  </div>
</fieldset>
{% endblock %}
{% block content %}
{% csrf_token %}
<script src="static/js/weather.js"></script>
{% endblock %}
